<html layout:decorator="layout">
	<div layout:fragment="content">
	
		<a href="/users/new" class="btn btn-primary">Adicionar</a><br/>
	
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="user : ${users}">
					<td data-th-text="${user.id}"></td>
					<td data-th-text="${user.name}"></td>
					<td data-th-text="${user.email}"></td>
					<td>
						<a th:href="@{'/users/{id}/edit' (id=${user.id})}" class="btn btn-info">Editar</a>
						<a th:href="@{'/users/{id}/delete' (id=${user.id})}" class="btn btn-danger">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</html>